header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
  background-color: rgba(135, 207, 235, 0.527);
  padding: 5px 10px;

  .logo-name {
    width: 30%;
    display: inline-block;
    padding-left: 20px;
    span {
      color: rgb(197, 19, 19);
      font-size: 20px;
      font-weight: 600;
    }
  }
  .navbar {
    width: 69%;
    text-align: right;
    display: inline-block;
    padding-right: 15px;
    li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      padding: 8px 10px;
      border-radius: 5px;
    }
    .active {
      border-bottom: 3px solid black;
    }
    li:hover {
      background-color: rgb(197, 19, 19);
    }
  }
  .dropdown {
    position: relative;
    width: 60%;
    display: none;
    float: right;
    padding-top: 20px;
    transition: 0.2s all;
    label {
      display: block;
      cursor: pointer;
      margin-top: -10px;
      opacity: 0.1%;
    }
    nav {
      text-align: right;
      padding-top: 20px;
      font-size: 0;
      max-height: 0;
      transition: 0.5s all;
      li {
        padding: 10px 0;
      }
      li:hover {
        color: cadetblue;
      }
    }
    #menu {
      display: none;
    }
    .burger-line {
      position: absolute;
      width: 30px;
      height: 2px;
      right: 10px;
      background-color: white;
      top: 2px;
      bottom: 0;
      transition: 0.4s all;
    }
    .second {
      top: 10px;
    }
    .third {
      top: 17px;
    }
    .fourth {
      top: 25px;
    }
    #menu:checked ~ nav {
      font-size: 16px;
      max-height: 500px;
    }
    #menu:checked ~ .first {
      display: none;
    }
    #menu:checked ~ .second {
      transform: rotate(45deg);
    }
    #menu:checked ~ .third {
      transform: rotate(-45deg);
    }
    #menu:checked ~ .fourth {
      display: none;
    }
  }
}
@media (max-width: 900px) {
  header {
    width: 100%;
    .dropdown {
      display: block;
    }
    .navbar {
      display: none;
    }
  }
}
@media (max-width: 600px) {
  header {
    width: 98%;
    .dropdown {
      display: block;
    }
    .navbar {
      display: none;
    }
  }
}
