.majors {
  padding: 10px 0 30px;
  .container {
    h1 {
      text-align: center;
      font-size: 30px;
    }
    table {
      margin-top: 50px;
      border: 1px solid #dee2e6;
      thead {
        border: 1px solid #dee2e6;
        th {
          color: #fff;
          background-color: #343a40;
          border-color: #454d55;
          padding: 0.75rem;
        }
      }
      tbody {
        .tr {
          td {
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.05);
            border: 1px solid black;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .majors {
    .container {
      margin: 0;
      text-align: center;
      font-size: 14px;

      table {
        margin: 10px 100px;
        width: 100%;

        tbody {
          width: 100%;

          tr {
            td {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .majors {
    .container {
      margin: 0;
      text-align: center;
      font-size: 14px;
      table {
        margin: 10px 70px;
        width: 100%;

        tbody {
          width: 100%;

          tr {
            td {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .majors {
    .container {
      margin: 0;
      text-align: center;
      font-size: 13px;
      table {
        margin: 10px 10px;
        width: 100%;
        thead {
          width: 100%;
          th {
            width: 100%;
          }
        }
        tbody {
          width: 100%;

          tr {
            td {
              width: 100%;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
