.main-register {
  .half {
    width: 50%;
    margin-top: 100px;
  }
  .register {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 40%;
    display: inline-block;
    padding-left: 50px;
    margin: 150px 50px;
    h3 {
      width: 100%;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
    }
    span {
      color: #c51313;
    }
    label {
      &:nth-child(2) {
        margin-top: 50px;
        display: inline-block;
        margin-bottom: 5px;
      }
      &:nth-child(6) {
        margin-top: 10px;
        display: inline-block;
        margin-bottom: 5px;
      }
    }
    input {
      padding: 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
    }
    button {
      all: unset;
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #343a40;
      color: white;
      border-radius: 5px;
      transition: 0.3 all;
      cursor: pointer;
    }
    button:hover {
      background-color: darken($color: #343a40, $amount: 10);
    }
  }
}
@media (max-width: 900px) {
  .main-register {
    .container {
      .half {
        width: 100%;
        margin-top: 150px;
      }
      .register {
        width: 100%;
        margin: 150px 0;
      }
    }
  }
}
@media (max-width: 600px) {
  .main-register {
    .container {
      .half {
        width: 100%;
        margin-top: 150px;
      }
      .register {
        width: 100%;
        margin: 150px 0;
      }
    }
  }
}
